<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- logger name="org.springframework" level="DEBUG"/-->

<logger name="jdbc" level="OFF"/>
<logger name="log4jdbc.debug" level="OFF"/>

<!-- 
<logger name="jdbc.sqlonly" level="DEBUG"/>
 -->
<logger name="jdbc.sqltiming" level="DEBUG"/>
<logger name="bootapp" level="DEBUG"/>

</configuration>
